@page
@model AIFormationPlatform.Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<h1>Déconnexion</h1>
<p>Voulez-vous vous déconnecter ?</p>
<form method="post">
    <button type="submit">Se déconnecter</button>
</form>
