@model AIFormationPlatform.Core.Enums.TypeModalite
@{
    var (cssClass, icon) = Model switch
    {
        AIFormationPlatform.Core.Enums.TypeModalite.Cours => ("badge-course", "bi-book"),
        AIFormationPlatform.Core.Enums.TypeModalite.Exercice => ("badge-exercise", "bi-pencil-square"),
        _ => ("badge-quiz", "bi-patch-question")
    };
}
<span class="badge modality-badge @cssClass"><i class="bi @icon me-1"></i>@Model</span>
